@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #c6e7f7;
}

.card {
  margin: 25px auto;
  padding: 30px 25px;
  background: white;
  width: 50%;
  border-radius: 4px;
  /* box-shadow: 3px 3px 5px -2px rgba(0, 0, 0, 0.77); */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  margin: 5px 0 25px 0;
}

.card p {
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 20px;
}
.card-button{
  display: flex;
  justify-content: space-between;
}
.card-button a{
  color:chocolate;
  text-decoration:none;
  padding:25px 0 10px 0;
}